body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 16px 84px;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}


