body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 16px 84px;
    
}

p,
a {
    font-size: 10px;
}

header {
   display: flex;
   align-items: baseline;
   justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}


