body {
    background-color: white;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

p,
a {
    font-size: 12px;
    text-decoration: none;
    color: #E5E7EB;
}

h1, h2, h3, h4, ul {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

header, .midheader {
   height: 100%;
   width: 100%;
   flex: 1;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   background-color: #1F2937;
   color: #F9FAF8;
   padding: 25px 0px;
   padding-bottom: 40px;
}


.midheader,
.information,
.images,
.container,
.call-to-action {
    display: flex;
    margin-bottom: 50px;
}

.midheader {
    justify-content: center;
    gap: 20px;
}

.midheader-left {
    margin-left: 80px;
    flex: 1;
}

.midheader-right {
    margin-right: 80px;
    flex: 1;  
}

#logo, #header-links,
.images, .quote, .call-to-action {
    margin: 0px 80px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-text-pair p {
    max-width: 104px;
    font-size: 10px;
    overflow: text-wrap;
    color: darkslategrey;
}

.image-text-pair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.placeholder {
    height: 170px;
    flex: 1;
    background-color: teal;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 25px;
    max-width: 100%
}

.container {
    background-color: #E5E7EB;
    width: 100%;
    display: flex;
    justify-content: center;
}

.quote {
    height: 200px;
    width: 60%;
    padding: 30px 0px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    flex: 1;
    align-self: center;
    border-radius: 25px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    padding: 40px;
    color: #E5E7EB;
}

#quote-text {
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    color: #4a586b;
    overflow: text-wrap;
}

#attribute {
    align-self: flex-end;
    color: #1F2937;
    font-weight: bold;
    padding-right: 10px;
}

footer {
    align-self: center;
    padding: 25px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.header-link {
    color: #F9FAF8;
}

#hero {
    font-size: 40px;
    font-weight: extra-bold;
}

#logo {
    font-size: 16px;
}

button {
    background-color: #3882F6;
    border: 0px;
    border-radius: 8px;
    padding: .3rem 1rem;
    color: #f9faf8;
    font-size: 12px;
}

#sign-up {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 8px;
    padding: .3rem 1rem;
    color: #f9faf8;
    font-size: 12px;
}


